.flex-container {
  display: flex;
  flex-direction: column;
  width: 95vw;
  height: 95vh;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgb(18, 18, 18);
  height: 5%;
  margin-bottom: 1em;
}
.menu {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 0.5em;
  font-weight: bold;
}
.list {
  margin-bottom: 0px;
}
li {
  display: inline;
  list-style-type: none;
}
nav ul li a {
  color: white;
  padding: 1em 0em 0em 1em;
}
.main {
  display: flex;
  justify-content: center;
  height: 85%;
}
.row {
  width: 80%;
  margin-bottom: 1em;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10%;
  background: rgb(18, 18, 18);
  font-size: 0.5em;
  font-weight: bold;
  color: white;
}
